.header {
  display: flex;
  flex-direction: column;
}

.btn-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.group-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}