.charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.home {
    position: relative;
}

.navigate-button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}