.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
}

.user-module {
    height: auto;

    .user-info {
        ul {
            li {
                justify-content: center;
                align-items: center;
                height: max-content;

                span {
                    font-weight: 600;
                    padding-top: 120px;
                }
            }
        }
    }

    .user-title {
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    }
}

.button-group{
    margin: 10px auto;
}